<% @page_title = "会員管理" %>
<h1><%= @page_title %></h1>

<% if @customers.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>ID</th>
        <th>ユーザー名</th>
        <th>氏名</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td style="text-align: right"><%= customer.id %></td>
          <td><%= link_to customer.user_name, [:admin, customer] %></td>
          <td><%= customer.full_name %></td>
          <td><%= link_to "削除", [:admin, customer], method: :delete,
            data: { confirm: "本当に削除しますか?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>会員情報がありません。</p>
<% end %>