<table class="attr">
  <tr>
    <th>メニュー画像</th>
    <td>
      <% if @sub_dish.subdish_picture.attached? %>
        <%= image_tag @sub_dish.subdish_picture.variant(resize: "50x50") %>
      <% else %>
        <% if File.exist? "#{Rails.root}/app/assets/images/sub/sub#{@sub_dish.id}.png" %>
          <%= image_tag("sub/sub#{@sub_dish.id}.png", size: "50x50", alt: "sub") %>
        <% else %>
          <%= image_tag("noimage.png", size: "50x50", alt: "noimage") %>
        <% end %>
    <% end %>
    </td>
  </tr>
  <tr>
    <th>おかず名</th>
    <td><%= @sub_dish.sub_dish_name %></td>
  </tr>
  <tr>
    <th>説明文</th>
    <td><%= @sub_dish.introduction %></td>
  </tr>
  <tr>
    <th>カロリー</th>
    <td><%= @sub_dish.sub_kcal %>kcal</td>
  </tr>
  <tr>
    <th>価格</th>
    <td><%= @sub_dish.sub_dish_price %>円</td>
  </tr>
</table>