<% @page_title = "サイドメニュー一覧" %>
<h1><%= @page_title %></h1>

<% if @sub_dishes.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>サイドメニュー名</th>
        <th>おすすめ</th>
        <th>カロリー</th>
      </tr>
    </thead>
    <tbody>
      <% @sub_dishes.each do |sub| %>
        <tr>
          <td style="text-align: right"><%= link_to sub.sub_dish_name, sub %></td>
          <% if sub.recommend == true then %>
            <td><%= image_tag("good.png", size: "20x20", alt: "good") %></td>
          <% else %>
            <td><%= image_tag("mu.png", size: "20x20", alt: "nogood") %></td>
          <% end %>
          <td><%= sub.sub_kcal %></td>
          <td>
            <%= link_to "編集", [:edit, sub] %>
            <%= link_to "削除", sub, method: :delete,
              data: { confirm: "本当に削除しますか?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>サイド情報がありません</p>
<% end %>