<% @page_title = "サイドメニュー一覧" %>
<h1><%= @page_title %></h1>
<%= link_to "箱選択に戻る", :boxes %>

<% if @sub_dishes.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>画像</th>
        <th>おすすめ</th>
        <th>メニュー名</th>
        <th>カロリー</th>
        <th>料金</th>
        <th>在庫数</th>
      </tr>
    </thead>
    <tbody>
      <% @sub_dishes.each do |sub| %>
          <td>
            <% if sub.subdish_picture.attached? %>
              <%= image_tag sub.subdish_picture.variant(resize: "50x50") %>
            <% else %>
              <% if File.exist? "#{Rails.root}/app/assets/images/sub/sub#{sub.id}.png" %>
                <%= image_tag("sub#{sub.id}.png", size: "50x50", alt: "sub") %>
              <% else %>
                <%= image_tag("noimage.png", size: "50x50", alt: "noimage") %>
              <% end %>
            <% end %>
          </td>
          <% if sub.recommend == true then %>
            <td><%= image_tag("good.png", size: "20x20", alt: "good") %></td>
          <% else %>
            <td><%= image_tag("mu.png", size: "20x20", alt: "nogood") %></td>
          <% end %>
          <td style="text-align: right"><%= link_to sub.sub_dish_name, sub %></td>
          <td><%= sub.sub_kcal %>kcal</td>
          <td><%= sub.sub_dish_price %>円</td>
          <td><%= sub.stock%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%
    @array=[]
    @sub_dishes.each do |sub|
        @array << sub.sub_dish_name
    end
  %>

  <%= form_tag(sub_dishes_path, method: "post") do %>
    <% @array.each do |sub| %>
      <%= SubDish.where(sub_dish_name: sub).ids[0].to_i %>
      <%= sub %>
      数量<%= select_tag :cart, 
      options_for_select([["0個",0],["1個",1],["2個",2],["3個",3],["4個",4],["5個",5]],0), multiple: true %>
    <% end %>
    <%= submit_tag "カートに入れる"%>
  <% end %>
<% else %>
  <p>サイド情報がありません</p>
<% end %>
