<% if current_admin %>
<ul class="account-menu">
  <%= current_admin.name + "さん" %>
  <%= link_to "ログアウト", :admin_session,
        method: :delete, data: { confirm: "ログアウトしますか？" } %>
</ul>
<nav class="admin_menubar" id="admin-menubar">
  <ul>
    <%= menu_link_to "管理者TOP", admin_root_path %>
    <%= menu_link_to "全予約", :admin_orders %>
    <%= menu_link_to "会員管理", :admin_customers %>
    <%= menu_link_to "箱管理", :admin_boxes %>
    <%= menu_link_to "おかず管理", :admin_dishes %>
    <%= menu_link_to "サイドメニュー管理", :admin_sub_dishes %> 
  </ul>
</nav>
<% end %>