<%= render "shared/errors", obj: @customer %>
<table class="attr">
  <tr>
    <th><%= form.label :new_customer_picture %></th>
    <td>
      <div><%= form.file_field :new_customer_picture %></div>
      <% if @customer.customer_picture.attached? %>
        <div>
          <%= image_tag @customer.customer_picture.variant(resize: "50x50") %>
          <%= form.check_box :remove_customer_picture %>
          <%= form.label :remove_customer_picture %>
        </div>
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= form.label :user_name, "UserName" %></th>
    <td><%= form.text_field :user_name, size: 8 %></td>
  </tr>
  <tr>
    <th><%= form.label :full_name, "氏名" %></th>
    <td><%= form.text_field :full_name %></td>
  </tr>
  <tr>
    <th><%= form.label :address, "住所" %></th>
    <td><%= form.text_field :address %></td>
  </tr>
  <tr>
    <th><%= form.label :tel_num, "電話番号" %></th>
    <td><%= form.text_field :tel_num %></td>
  </tr>
  <% if @customer.new_record? %>
    <tr>
      <th><%= form.label :password, "パスワード" %></th>
      <td><%= form.text_field :password %></td>
    </tr>
  <% end %>
</table>