<%= image_tag "logo.png", size: "272x78", alt: "Se・rect□"%>
<% if current_customer %>
  <ul class="account-menu">
    <% if current_customer.customer_picture.attached? %>
      <div class="icon">
        <%= image_tag current_customer.customer_picture.variant(resize: "40x38") %>
      </div>
    <% else %>
    <div class="icon">
      <%= image_tag("noicon.png", size: "40x38", alt: "noicon") %>
    </div>
    <% end %>
      <%= menu_link_to current_customer.user_name + "さん", :account %>
      <%= menu_link_to "ログアウト", :session, method: :delete, data: {confirm: "ログアウトしますか？"} %>
  </ul>
<% end %>

<%=
  if controller.kind_of?(Admin::Base)
    render "shared/admin_menubar"
  else
    render "shared/menubar"
  end
%>