<%= render "shared/errors", obj: @sub_dish %>

<table class="attr">
  <tr>
    <th><%= form.label :new_subdish_picture %></th>
    <td>
      <div><%= form.file_field :new_subdish_picture %></div>
      <% if @sub_dish.subdish_picture.attached? %>
        <div>
          <%= image_tag @sub_dish.subdish_picture.variant(resize: "50x50") %>
          <%= form.check_box :remove_subdish_picture %>
          <%= form.label :remove_subdish_picture %>
        </div>
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= form.label :sub_dish_name, "サイドメニュー名" %></th>
    <td><%= form.text_field :sub_dish_name, size: 8 %></td>
  </tr>
  <tr>
    <th><%= form.label :sub_dish_price, "価格" %></th>
    <td><%= form.text_field :sub_dish_price, size: 8 %></td>
  </tr>
  <tr>
    <th>おすすめ</th>
    <td><%= form.check_box :recommend %></td>
  </tr>
  <tr>
    <th><%= form.label :introduction, "説明文" %></th>
    <td><%= form.text_field :introduction %></td>
  </tr>
  <tr>
    <th><%= form.label :sub_kcal, "カロリー" %></th>
    <td><%= form.text_field :sub_kcal %></td>
  </tr>
  <tr>
    <th><%= form.label :stock, "在庫数" %></th>
    <td><%= form.text_field :stock %></td>
  </tr>
</table>