<%= @id=current_customer.id %>
<%= current_customer.address %>
<%= params[:date]%>

<%= Order.find(@id).reserve_date %>
<%= Order.find(@id).deliver_date %>

<%= form_tag(orders_path, method: "get") do %>
  <p>配達先住所</p>
  <%= select_tag :address, options_for_select([["現住所",1],["店舗",2]]) %>
  <p>希望日/希望時間</p>
  <%= datetime_field :date, Date.today, use_month_numbers: true%>
<%= submit_tag "送信"%>
<% end %>