<% @page_title = "カート一覧" %>
<h1><%= @page_title %></h1>

<%= params[:sum] %>
<% if params[:cart].present? %>
  <% for i in 1..(params[:cart].length) %>
    <% if params[:cart][i-1].to_i != 0 %>
      <%= SubDish.find(i).sub_dish_name %>
      <%= SubDish.find(i).sub_kcal %>kcal
      <%= params[:cart][i-1] %>個
      <p></p>
    <% end %>
  <% end %>
<% end %>
<%= params[:dish] %>
<%= params[:dish].length %>

<% for i in 0..(@kosuu.to_i-1) %>
  <%= Dish.find(params[:dish]).dish_name %>
  <%= Dish.find(params[:dish]).dish_kcal %>kcal
<% end %>

合計<%= @cart.all_kcal%>kcal
合計<%= @cart.sum_price %>円