<% @page_title = "カート一覧" %>
<h1><%= @page_title %></h1>

<% Customer.find(current_customer.id).cart.bentos.each do |c| %>
  <%= Box.find(c.box_id).box_name %>
  <%= Box.find(c.box_id).box_price %>円
  <%= c.num %>個
  <%= c.sum_kcal %>kcal
  <% c.dish_ids.each do |d| %>
    <%= Dish.find(d).dish_name %>
  <% end %>
  <p></p>
<% end %>

<% Association.ids.each do |a| %>
  <%= SubDish.find(Association.find(a).sub_dish_id).sub_dish_name %>
  <%= @num=Association.find(a).num %>個
  <%= SubDish.find(Association.find(a).sub_dish_id).sub_dish_price*@num %>円
  <%= SubDish.find(Association.find(a).sub_dish_id).sub_kcal*@num %>kcal
  <p></p>
<% end %>

<p></p>
合計<%= @cart.all_kcal%>kcal
合計<%= @cart.sum_price %>円

<%= form_tag(orders_path, method: "get") do %>
  <%= submit_tag "注文へ"%>
<% end %>