<% @page_title = "カート一覧" %>
<h1><%= @page_title %></h1>

<%= params[:cart] %>
<%= @kosuu=params[:sum1] %>個入弁当
<% @array1 = params[:dish1].split(" ",params[:sum1].to_i) %>

<% for i in 0..(@kosuu.to_i-1) %>
  <%= Dish.find(@array1[i]).dish_name %>
  <%= Dish.find(@array1[i]).dish_kcal %>kcal
<% end %>
<%= Box.find(@kosuu).box_price %>円