<% @page_title = "アカウント情報の編集" %>
<header class="post-info">
<h2 class="post-title"><%= @page_title %></h2>

<div class="toolbar"><%= link_to "マイアカウントに戻る", :admin_account %></div>

<%= form_for @admin, as: "admin_account", url: :admin_account do |form| %>
  <%= render "shared/admin_form", form: form %>
  <div><%= form.submit %></div>
<% end %>
</header>
