<table class="attr">
  <tr>
    <th>メニュー画像</th>
    <td>
      <% if @dish.dish_picture.attached? %>
        <%= image_tag @dish.dish_picture.variant(resize: "50x50") %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>おかず名</th>
    <td><%= @dish.dish_name %></td>
  </tr>
  <tr>
    <th>説明文</th>
    <td><%= @dish.introduction %></td>
  </tr>
  <tr>
    <th>カロリー</th>
    <td><%= @dish.dish_kcal %></td>
  </tr>
  <td><%= link_to "おかず一覧に戻る", dishes_path %></td>
</table>