<% @page_title = "おかず一覧" %>
<h1><%= @page_title %></h1>

<% if @dishes.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>おかず名</th>
        <th>おすすめ</th>
        <th>カロリー</th>
      </tr>
    </thead>
    <tbody>
      <% @dishes.each do |dish| %>
        <tr>
          <td style="text-align: right"><%= link_to dish.dish_name, dish %></td>
          <% if dish.recommend == true then %>
            <td><%= image_tag("good.png", size: "20x20", alt: "good") %></td>
          <% else %>
            <td><%= image_tag("mu.png", size: "20x20", alt: "nogood") %></td>
          <% end %>
          <td><%= dish.dish_kcal %></td>
          <td>
            <%= link_to "編集", [:edit, dish] %>
            <%= link_to "削除", dish, method: :delete,
              data: { confirm: "本当に削除しますか?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>おかず情報がありません</p>
<% end %>