<% @page_title = "おかず一覧" %>
<h1><%= @page_title %></h1>
<% @limit= params[:box].to_i %>
<% @souzai = [] %>
<% @sum1 = 0 %>

<% if @dishes.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>画像</th>
        <th>おすすめ</th>
        <th>おかず名</th>
        <th>カロリー</th>
      </tr>
    </thead>
    <tbody>
      <% @dishes.each do |dish| %>
        <% @sum1+=1 %>
        <% @souzai.push(dish.dish_name.to_s) %>
      <div class="dish">
        <tr>
          <td>
            <% if dish.dish_picture.attached? %>
              <%= image_tag dish.dish_picture.variant(resize: "50x50") %>
            <% else %>
              <%= image_tag("noimage.png", size: "50x50", alt: "noimage") %>
            <% end %>
          </td>
          <% if dish.recommend == true then %>
            <td><%= image_tag("good.png", size: "20x20", alt: "good") %></td>
          <% else %>
            <td><%= image_tag("mu.png", size: "20x20", alt: "nogood") %></td>
          <% end %>
          <td style="text-align: right"><%= link_to dish.dish_name, dish %></td>
          <td><%= dish.dish_kcal %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% @array = Array.new(@sum1).map{Array.new(2)} %>
  <% for i in 0..(@sum1-1) %>
    <% @array[i][0]=@souzai[i] =%>
    <% @array[i][1]=i+1 =%>
  <% end %>

  <% if @limit!=0 %>
    <%= form_tag(bentos_path, method: "get") do %>
      <%= hidden_field_tag :box, params[:box] %>
      <% for i in 1..@limit %>
        選択<%= "#{i}" %>: <%= select_tag :dish, options_for_select(@array), multiple: true %>
      <% end %>
      <%= submit_tag "送信"%>
    <% end %>
  <% else %>
    <%= link_to "サイドメニューへ", :sub_dishes %>
    <%= link_to "箱一覧へ", :boxes %>
    <h2>お弁当を食べたい人は箱を先に選んでネ!</h2>
  <% end %>
<% else %>
  <p>おかず情報がありません</p>
      </div>
<% end %>