<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag("error.png") %>
    <meta charset="utf-8">
    <title><%= page_title %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>
  <body>
    <div id="container">
      <header>
        <%= image_tag "logo.png", size: "272x78", alt: "Se・rect□"%>
        <nav class="menubar">
          <a href="/">TOP</a>
        </nav>
      </header>
      <main>
        <%= yield %>
      </main>
      <footer>
        <%= render "shared/footer" %>
      </footer>
    </div>
  </body>
</html>