<% @page_title = "アカウントの情報の編集"%>

<h1><%= @page_title %></h1>

<div class="toolbar">
    <%= link_to "マイアカウントに戻る", :account %>
</div>

<%= form_for @customer, as: "account", url: :account do |form| %>
    <%= render "shared/customer_form", form: form %>
    <div><%= form.submit %></div>
<% end %>