<% @page_title = "マイアカウント"%>

<h1><%= @page_title %></h1>

<ul class="toolbar">
    <%= menu_link_to "アカウント情報の編集", :edit_account %>
    <%= menu_link_to "パスワードの変更", :edit_password %>
    <%= menu_link_to "注文履歴", :order_account %>
</ul>

<%= render "customers/body" %>
<%= link_to "退会", account_path ,method: :delete, data: { confirm: "本当に削除しますか?" } %>
